<section data-ng-controller="">
    <div>
        <div class="col-md-6">
            <div class="list-group">
                <a  data-ng-repeat="tweet in tweets" class="list-group-item">
                    <i class="fa fa-2x fa-twitter pull-left"></i>
                    <h6>{{tweet.text}}</h6>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contact">
                <div class="row">
                    <div class="col-md-3 text-center vcenter">
                        <i class="fa fa-3x fa-map-marker text-center"></i>
                    </div><!--
                    --><div class="col-md-9 text-center">
                    <h4>4752 West California Avenue<br>
                        Suite B-400<br>
                        Salt Lake City, UT 84104</h4>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center vcenter">
                        <i class="fa fa-3x fa-phone-square"></i>
                    </div>
                    <div class="col-md-9 text-center">
                        <h4>801-935-8650</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center vcenter">
                        <i class="fa fa-3x fa-envelope"></i>
                    </div><!--
                    --><div class="col-md-9 text-center">
                    <h4><a href="mailto:info@waveipt.com">info@waveipt.com</a></h4>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center vcenter">
                        <i class="fa fa-3x fa-line-chart"></i>
                    </div>
                    <div class="col-md-9 text-center">
                        <h4><a href="mailto:careers@waveipt.com">careers@waveipt.com</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
