<section data-ng-controller="HomeController">
    <div class="jumbotron">
        <div class="container">
        <!--<h1 class="sub">-->
            <!--Solving the battery problem through wireless charging.-->
        <!--</h1>-->

            <div class="row selling-points">
                <div class="col-md-4">
                <div class="selling-point">
                    <i class="fa fa-dollar fa-5x"></i>
                    <h2>Economic</h2>
                    <p>Wirelessly charged electric vehicles are cost competitive with conventional vehicles.</p>
                </div></div>

            <div class="col-md-4"><div class="selling-point">
                <i class="fa fa-bolt fa-5x"></i>
                <h2>Electric</h2>
                <p>WAVE's wireless charging system keep electric vehicles running for the entire day.</p>
            </div></div>
            <div class="col-md-4"><div class="selling-point">
                <i class="fa fa-globe fa-5x"></i>
                <h2>Clean</h2>
                <p>Wireless charging is completely silent, reliable, and creates zero emissions.</p>
            </div></div>
        </div>
    </div>
    </div>


    <div class="container our-work">
        <h2>What We Do</h2>
        <iframe width="100%" height="570" src="//www.youtube.com/embed/zRB16Z3FT3I" frameborder="0" allowfullscreen></iframe>
        <div class="row">
            <a data-ng-repeat="project in projects" data-ng-href="#!/projects/{{project._id}}" class="list-group-item col-md-6">
                <h1 class="project-overlay" data-ng-bind="project.name"></h1>
                <img class="project-img" data-ng-src="{{randomPicture()}}"/>
            </a>
        </div>
    </div>

    <!--<div class="illustration">-->

    <!--</div>-->
    <div class="container">
        <div class="col-md-6 list-group">
            <div class="list-item" data-ng-repeat="tweet in tweets">
                <h4></h4>
            </div>
        </div>
    </div>
</section>
