<div data-ng-class="{'opac': startFadeIn}" class="col-md-6 splash2 no-opac">
    <img src="modules/core/img/wave_bus_charger_main.jpg"/>
</div>

<div data-ng-class="{'opac': startFadeIn}" data-ng-class="{'opac': startFadeIn}" class="col-md-6 splash3 no-opac">
    <img src="modules/core/img/wave_bus_back_main.jpg"/>
</div>

<div data-ng-class="{'opac': startFadeIn}" data-ng-class="{'opac': startFadeIn}" class="col-md-12 sub-image splash4 no-opac">
    <img src="modules/core/img/wave_bus_main.jpg"/>
</div>
