.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

/* Added styles */

/* Space out content a bit */
body {
    padding-top: 60px;
    padding-bottom: 60px;
}

/*move edit buttons to look less stupid*/
.edit-button-container{
    position:absolute;
    z-index:100;
    bottom:0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 970px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    border-bottom: 0;
    background: url(../img/brand/bg_bw_logo.jpg) 50%;
    /*background: steelblue;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*make text-angular buttons less stupid looking*/
/*todo possibly move this rule into core*/
.btn-group{
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Non-scaffold css */

.jumbotron .container {
    max-width: 970px;
}

.selling-points {
    text-align: center;
    width: 100%;
    margin: 400px 50px auto auto;
}

.selling-point {
    text-align: center;
    color: white;
    background: rgb(0, 0, 0);
    /*fallback color*/

    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
}

.selling-point p {
    font-size: 18px;
}

.our-work {
    width: 100%;
    text-align: center;
}

.row iframe {
    width: 50%;
    margin: 0 auto;
    float: left;
}

.our-work h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
}

.selling-point i {
    color: white;
}

/*.projects {*/
    /*width: 50%;*/
    /*height: 100%;*/
    /*float: right;*/
    /*margin: 0 auto;*/
/*}*/

/*.projects .single-project {*/
    /*width: 45%;*/
    /*display: inline-block;*/
    /*background: url(../img/Magic-school-bus.jpg) 50% 0 no-repeat fixed;*/
    /*height: 135px;*/
    /*text-align: center;*/
    /*border: 1px solid;*/
/*}*/

/*.projects .bottom-project {*/
    /*margin-top: 10px;*/
/*}*/

/*.projects .right-project {*/
    /*margin-left: 10px;*/
/*}*/

.nav-pills li .active a  {
    background-color: #f9ad3e;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #f9ad3e;
}

a {
    color: black;
}

.nav-fixed {
    padding-top: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1;
    max-width: 870px;
}

.nav-fixed h3 {
    float: left;
}
.spacer {
    height: 80px;
}

.imageLogo {
    width: 80%;
}

.navbar-logo {
    width: 100%;
}

.navbar-brand {
    width: 140px;
    float: left;
}

.navbar .navbar-fixed-top .navbar-inverse {
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: white;
    font-size: 18px;
}

.content {
    margin: 0;
}

.jumbotron h1 {
    margin-bottom: 200px;
    color: #F5B613;
    background: rgba(0, 0, 0, 0.5);
}

.navbar-inverse {
    background: rgba(0, 0, 0, 0.7);
    /*background-color: black;*/
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: black;
}

.illustration {
    border-bottom: 0;
    height: 350px;
    width: 100%;
    background: url(../img/WAVE_illustration.png);
    /*background: steelblue;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #F5B613;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #F5B613;
}