<section data-ng-controller="StoriesController" data-ng-init="find()" class="stories">

    <div class="page-header">
        <h1>Buzz</h1>
        <h3>People are talking about Wave. See what they have to say.</h3>
    </div>
    <div class="list-group">
        <a data-ng-repeat="story in stories" data-ng-href="{{story.url}}" class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="story.name"></h4>
            <p>
                {{story.teaserContent}}
            </p>
            <small class="list-group-item-text">
				Written on
				<span data-ng-bind="story.publishDate | date:'medium'"></span>
                by
				<span data-ng-bind="story.publication"></span>
			</small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!stories.$resolved || stories.length">
    	No Stories yet, why don't you <a href="/#!/stories/create">create one</a>?
    </div>
</section>