@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Trocchi);

.list-projects body {
    font-family: 'Libre Baskerville', serif;
}

.list-projects h1 h2{
    font-family: 'Libre Baskerville', serif;
}

.list-projects .container {
  max-width: 960px;
  height: 80%;
}

.list-projects .line {
    border-bottom:1px solid #2c3e50;
    margin-bottom: 5%;
    margin-top: 5%;
}

.list-projects .feature-photo {
  width: 100%;
}
.list-projects .feature-text h3 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}
.list-projects .feature-text p {
  line-height: 1.5em;
  margin: 1em 0;
  height: 277px;
  overflow: hidden;
}

.list-projects h3 {
    font-family: 'Libre Baskerville', serif;
}




@media screen and (max-width: 991px) {

.list-projects .feature-text p {
  height: 100px;
  overflow: hidden;

}

}


@media screen and (max-width: 768px) {

  .list-projects .feature-photo {
    margin: 0.1em 0;
  }
   .list-projects .media-benefit {
    margin-bottom: 2em;
  }

  .list-projects .feature-photo {
    margin-top: 20px;
  }

  .list-projects .feature-text h3 {
  text-align: center;
  margin-top: 40px;
  }

  .list-projects .feature-text p {
  text-align: center;
  }

  .list-projects a.read {
    margin: 0 auto;
  }

}




