.view-project img {
    width: 50%;
}

.list-projects img {
    position: relative;
    height: 100%;
    width: 100%;
}

.list-projects .list-group-item {
    height: 300px;
    overflow: hidden;
}

.title {
    position: absolute;
    height: 100px;
    top: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}