<div class="bioHeadshotContainer col-md-4" data-ng-repeat="bio in bios" popover-title="{{displayBioTitle}}"
     popover="{{displayBioName}}" popover-trigger="mouseenter" popover-animation="true">
    <div data-ng-mouseover="selectBio(bio)" >
        <a class="remove-highlight text-center">
            <img data-ng-src="{{bio.photo}}" data-ng-class="{grayscale: true, disabled: mouseOverBioId === bio._id}"/>

            <div class="edit-button-container pull-right" data-ng-show="authentication.user">
                <a class="btn btn-primary" href="/#!/bios/{{bio._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <!--todo fix reload issue after delete-->
                <a class="btn btn-primary" data-ng-click="remove(bio);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </a>
    </div>
</div>