<section data-ng-controller="BiosController" data-ng-init="find()" class="bios-page">
    <div class="page-header">
        <h1>Meet Our Team</h1>
        <h3>
            This is a subtitle. Here is a spot to put a brief blurb about how great the wave team is.
        </h3>
    </div>
    <div>

    <div class="row">

    </div>

    <div class="row">
        <div class="col-md-5">
            <i class="fa fa-building-o fa-5x"></i>
            <h2>
                Executive
            </h2>
            <p>
                Our Executive Team brings xx years of experience and is really cool because they still talk to each other.
            </p>
        </div>
        <div class="col-md-7">
            <div class="bioHeadshotContainer col-md-4" data-ng-repeat="bio in bios" popover-title="{{displayBioTitle}}"
                 popover="{{displayBioName}}" popover-trigger="mouseenter" popover-animation="true">
                <div>
                    <a class="remove-highlight text-center" data-ng-mouseover="selectBio(bio)" >
                        <!--<div class="overlay" data-ng-show="isSelected(bio._id)">-->
                            <!--<h3 data-ng-bind="displayBioName"></h3>-->
                            <!--<h4 data-ng-bind="displayBioTitle"></h4>-->
                        <!--</div>-->

                        <img data-ng-src="{{bio.photo}}" data-ng-class="{grayscale: true, disabled: mouseOverBioId === bio._id}"/>

                        <!--<div class="edit-button-container pull-right" data-ng-show="authentication.user">-->
                            <!--<a class="btn btn-primary" href="/#!/bios/{{bio._id}}/edit">-->
                                <!--<i class="glyphicon glyphicon-edit"></i>-->
                            <!--</a>-->
                            <!--&lt;!&ndash;todo fix reload issue after delete&ndash;&gt;-->
                            <!--<a class="btn btn-primary" data-ng-click="remove(bio);">-->
                                <!--<i class="glyphicon glyphicon-trash"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    </a>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-md-7">
            </div>
            <div class="col-md-5 vcenter">
                <i class="fa fa-group fa-5x text-center"></i>
                <h2>
                    Board of Directors
                </h2>
                <p>
                    Our Board of Directors is very boring, but we are working on that.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <i class="fa fa-power-off fa-5x text-center"></i>
                <h2>
                    Power Electronics Engineering
                </h2>
                <p>
                    The Power Electronics Engineering Team designs and builds the wireless power systems, including all testing, troubleshooting, and integration. The team also works on R & D projects, looking to expand the current WAVE technology.
                </p>
            </div>
            <div class="col-md-7">

            </div>
        </div>

        <div class="row">
            <div class="col-md-7">

            </div>
            <div class="col-md-5">
                <i class="fa fa-laptop fa-5x text-center"></i>
                <h2>
                    Software Engineering
                </h2>
                <p>
                    The Software Team designs, develops, and validates the advanced charging control algorithms in a real-time embedded environment.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <i class="fa fa-gears fa-5x text-center"></i>
                <h2>
                    Mechanical Engineering
                </h2>
                <p>
                    The Mechanical Team creates and completes the mechanical systems, designs, and technology implementation. They oversee the installation and project schedule, as well as provide customer support.
                </p>
            </div>
            <div class="col-md-7">

            </div>
        </div>

        <div class="row">
            <div class="col-md-7">

            </div>
            <div class="col-md-5">
                <i class="fa fa-wrench fa-5x text-center"></i>
                <h2>
                    Manufacturing Engineering
                </h2>
                <p>
                    This team is where we stick the girls.
                </p>
            </div>
        </div>

        <!--<div class="bioHeadshotContainer">-->
            <!--<div data-ng-repeat="bioRow in bioRows" class="row">-->
                <!--<div data-ng-repeat="bio in bioRow" class="col-md-4">-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!bios.$resolved || bios.length">
        No Bios yet, why don't you <a href="/#!/bios/create">create one</a>?
    </div>
</section>