<section data-ng-controller="BiosController" data-ng-init="find()" class="bios-page">
    <div class="page-header">
        <h1 >Meet Our Team</h1>
        <h3 class="subtitle">
            WAVE’s team combines engineering and management expertise to develop its wireless power technology.
        </h3>
    </div>

    <div class="row">
        <div class="alert alert-warning text-center" data-ng-hide="!bios.$resolved || bios.length">
            No Bios yet, why don't you <a href="/#!/bios/create">create one</a>?
        </div>
    </div>

<div class="teams">
    <div class="row gray-background">
        <div class="col-md-7 vcenter">
            <div data-ng-repeat="bio in bioBuckets['Executive']" data-ng-include="'/modules/bios/views/bios-grid.client.view.html'"></div>
        </div><!--
        --><div class="col-md-5 vcenter">
            <i class="fa fa-bar-chart fa-5x"></i>
            <h2>
                Executive
            </h2>
            <p>
                WAVE’s Executive Team is comprised of engineers, technology experts and business professionals
                dedicated to bringing to market the latest innovations in wireless power technology for vehicle
                applications.
            </p>
        </div>

    </div>

        <!--<div class="row gray-background">-->
            <!--<div class="col-md-7">-->
                <!--<div data-ng-repeat="bio in bioBuckets['Board of Directors']">-->
                    <!--<div data-ng-include="'/modules/bios/views/bios-grid.client.view.html'"></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-5 vcenter">-->
                <!--<i class="fa fa-group fa-5x text-center"></i>-->
                <!--<h2>-->
                    <!--Board of Directors-->
                <!--</h2>-->
                <!--<p>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.                </p>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row gray-background">
            <div class="col-md-5 vcenter">
                <i class="fa fa-power-off fa-5x text-center"></i>
                <h2>
                    Power Electronics Engineering
                </h2>
                <p>
                    The Power Electronics Engineering Team designs and builds WAVE’s wireless power systems, including
                    all testing, troubleshooting, and integration. The team also works on research and development projects
                    to expand the scope of WAVE’s technology.
                </p>
            </div><!--
            --><div class="col-md-7 vcenter">
                <div data-ng-repeat="bio in bioBuckets['Power Electronics Engineering']">
                    <div data-ng-include="'/modules/bios/views/bios-grid.client.view.html'"></div>
                </div>
            </div>
        </div>

        <div class="row gray-background">
            <div class="col-md-7 vcenter">
                <div data-ng-repeat="bio in bioBuckets['Software Engineering']">
                    <div data-ng-include="'/modules/bios/views/bios-grid.client.view.html'"></div>
                </div>
            </div><!--
            --><div class="col-md-5 vcenter">
                <i class="fa fa-laptop fa-5x text-center"></i>
                <h2>
                    Software Engineering
                </h2>
                <p>
                    The Software Engineering Team designs, develops, and validates WAVE’s advanced charging control
                    algorithms in a real-time embedded environment.
                </p>
            </div>
        </div>

        <div class="row gray-background">
            <div class="col-md-5 vcenter">
                <i class="fa fa-gears fa-5x text-center"></i>
                <h2>
                    Mechanical Engineering
                </h2>
                <p>
                    The Mechanical Engineering Team creates and implements WAVE’s mechanical system design and
                    validation specifications, as well as assisting with technology implementation.
                </p>
            </div><!--
            --><div class="col-md-7 vcenter">
                <div data-ng-repeat="bio in bioBuckets['Mechanical Engineering']">
                    <div data-ng-include="'/modules/bios/views/bios-grid.client.view.html'"></div>
                </div>
            </div>
        </div>

        <div class="row gray-background">
            <div class="col-md-7 vcenter">
                <div data-ng-repeat="bio in bioBuckets['Manufacturing Engineering']">
                    <div data-ng-include="'/modules/bios/views/bios-grid.client.view.html'"></div>
                </div>
            </div><!--
            --><div class="col-md-5 vcenter">
                <i class="fa fa-wrench fa-5x text-center"></i>
                <h2>
                    Manufacturing Engineering
                </h2>
                <p>
                    The Manufacturing Engineering Team oversees all project management, including project schedule,
                    installation, and customer service.
                </p>
            </div>
        </div>

    </div>
    </div>

</section>
