<section data-ng-controller="ProjectsController" data-ng-init="find()" class="list-projects">
    <div class="page-header">
        <h1>Projects</h1>
        <h2>Subtitle text about our awesome projects!!!</h2>
    </div>
    <div class="list-group">
        <a data-ng-repeat="project in projects" data-ng-href="#!/projects/{{project._id}}" class="list-group-item col-md-6 text-center">
            <h2 class="list-group-item-heading" data-ng-bind="project.name"></h2>
            <img data-ng-src="{{project.photo}}" />
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">
    	No Projects yet, why don't you <a href="/#!/projects/create">create one</a>?
    </div>
</section>