<section data-ng-controller="ProjectsController" data-ng-init="find()" class="container">
    <div class="page-header">
        <h1>Projects</h1>
        <h3>Subtitle text about our super awesome projects.</h3>
    </div>
    <div class="list-group">
        <div data-ng-repeat="project in projects" class="list-item" data-ng-mouseover="selectProject(project)">
        <a
           data-ng-href="#!/projects/{{project._id}}"
           class="remove-highlight">
            <div class="container">
			<h1
                class="project-overlay"
                data-ng-bind="project.name"
                    data-ng-show="projectIsSelected(project)"></h1>
            </div>
            <img class="project-img"
                 data-ng-src="{{project.photo}}"
                 />

            <div class="edit-button-container pull-right" data-ng-show="authentication.user">
                <a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <!--todo fix reload issue after delete-->
                <a class="btn btn-primary" data-ng-click="remove(project);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">
    	No Projects yet, why don't you <a href="/#!/projects/create">create one</a>?
    </div>
</section>