<section data-ng-controller="ProjectsController" data-ng-init="findOne()" class="container">
	<div class="page-header">
		<h1 data-ng-bind="project.name"></h1>
	</div>

    <div>
        <a data-ng-href="#!/projects/{{project._id}}" class="col-md-6">
            <img class="project-img" data-ng-src="{{project.photo}}"/> </a>
        <div data-ng-bind-html="project.content"></div>
    </div>

	<div class="pull-right" data-ng-show="authentication.user._id == project.user._id">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>

<section data-ng-controller="SamplesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="sample.name"></h1>
    </div>
    <div class="pull-right" data-ng-show="authentication.user._id == sample.user._id">
        <a class="btn btn-primary" href="/#!/samples/{{sample._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="sample.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="sample.user.displayName"></span>
        </em>
    </small>
</section>