<section data-ng-controller="PartnersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Partners</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="partner in partners" data-ng-href="#!/partners/{{partner._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="partner.created | date:'medium'"></span>
				by
				<span data-ng-bind="partner.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="partner.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!partners.$resolved || partners.length">
    	No Partners yet, why don't you <a href="/#!/partners/create">create one</a>?
    </div>
</section>